/*common style start */
BODY {
    font-family: 'Open Sans', sans-serif;
}

/*common style end */

/* nav style start */
nav {
    display: flex;
    justify-content: space-between;
    margin: 0px 150px;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;

}

/* marry text */
.orgtext {
    color: #FD6E0A;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
    align-items: center;

}

nav a {
    text-decoration: none;
    color: #474747;
}

/* btn styles */
.btn_primary {
    border-radius: 5px;
    background: #FD6E0A;
    color: white;
    padding: 15px 35px;
}

/* header part */
.header {
    background: #FFF8F3;

}

.banner {
    display: flex;
    justify-content: space-between;
    padding: 30px 30px 30px 150px;
    align-items: center;
}

.header .profile_pic {
    width: 584px;
    height: 676px;
}